@font-face {
  font-family: "Volant";
  src: url("../Volant.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.dropdown {
  font-family: "Volant", sans-serif !important;
}
.filter-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: 300px;
}

.filter-group-time {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: rgba(245, 245, 245, 0.8);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.filter-group-type {
  background-color: rgba(245, 245, 245, 0.9);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.filter-group-names {
  align-items: center !important;
  display: flex;
  background-color: rgba(245, 245, 245, 0.9);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.filter-label {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  display: block;
  /* margin-bottom: 8px; */
}
.time-fields-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 5px;
}
.date-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 5px;
  border-radius: 3px;
}

.all-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding-bottom: 5px;
}

.all-label {
  text-align: right;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  text-align: right;
}

.type-checkbox {
  margin-right: 5px;
}

.type-label {
  text-align: right;
}

.no-types-message {
  font-style: italic;
  color: #888;
  padding: 5px;
  text-align: right;
}

/* Toggle Switch */
.toggle-container {
  
  display: flex;
  align-items: center;
  /* margin-top: 5px; */
}
.filter-group-names {
  background-color: rgba(245, 245, 245, 0.9);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
